* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}

.change-button{
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 30px;
}

.change-button:hover{
  background-color: #e8e8e8;
}

.main-container {
  min-width: 600px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.joke-container{
  width: 500px;
  text-align: center;
}

form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
form input{
  border: 1px solid #ddd;
}

input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 8px;
  margin-right: 20px;

}

button {
  background: none;
  cursor: pointer;
  border: none;
  padding: 0 15px;
}

form button{
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-left: 20px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
}

